/* Entrar a una mesa */
.enter-room {
  background: #203451;
  border-radius: 50px;

  color: #ffffff;

  position: absolute;
  width: 280px;
  height: 80px;
  left: 550px;
  top: 550px;

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
}

/* Ingresar */
.login {
  background: #203451;
  border-radius: 50px;

  color: #ffffff;

  position: absolute;
  width: 219px;
  height: 80px;
  left: 960px;
  top: 550px;

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
}
