/* Logo 1 */
.img1 {
  position: absolute;
  width: 206px;
  height: 85px;
  left: 24px;
  top: 725px;

  border-radius: 10px;
}

/* Logo 2 */
.img2 {
  position: absolute;
  width: 118px;
  height: 125px;
  left: 240px;
  top: 700px;

  border-radius: 10px;
}
