/* background */

body {
  background-image: url(img/fondo.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Barra superior */

.barra {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0px;
  top: 0px;

  background: #203451;
}

.barra .button {
  background-color: #203451;
  border: #203451;
  width: 57px;
  height: 40px;
  margin-top: 15px;
  margin-left: 5px;
  font-size: 2em;
}

.fa-bars {
  background-color: #203451;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
}

.tutor {
  position: absolute;
  width: 168px;
  height: 32px;
  left: 1500px;
  top: 4px;

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;

  color: #ffffff;
}

.avatar {
  position: absolute;
  width: 60px;
  height: 60px;
  right: 20px;
  top: 4px;

  border-radius: 100px;
}

/* Main rectangle */

.rooms-main {
  position: absolute;
  width: 1050px;
  height: 600px;
  left: 320px;
  top: 90px;

  background: rgba(196, 196, 196, 0.8);
  border-radius: 35px;
}

/* Salas */

h1 {
  position: absolute;
  width: 122px;
  height: 63px;
  left: 61px;
  top: 0px;

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 63px;

  color: #ffffff;
}
h2 {
  position: absolute;
  width: 979px;
  height: 5px;
  left: 33px;
  top: 80px;

  background: #2b2d3e;
}

/* Salas */

.rooms .r1 {
  position: absolute;
  width: 190px;
  height: 190px;
  left: 41px;
  top: 131px;

  background: rgba(32, 52, 81, 0.53);
  border-radius: 20px;
}

/* + */

.rooms .plus {
  position: absolute;
  width: 76px;
  height: 76px;
  left: 95px;
  top: 190px;

  background: #203451;
  border-radius: 50px;
}

.plus {

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 63px;

  color: #ffffff;
}

.rooms .r2 {
  position: absolute;
  width: 190px;
  height: 190px;
  left: 41px;
  top: 330px;

  background: #938585;
  border-radius: 20px;
}

.rooms .r3 {
  position: absolute;
  width: 190px;
  height: 190px;
  left: 291px;
  top: 131px;

  background: #938585;
  border-radius: 20px;
}
.rooms .r4 {
  position: absolute;
  width: 190px;
  height: 190px;
  left: 291px;
  top: 330px;

  background: #938585;
  border-radius: 20px;
}
.rooms .r5 {
  position: absolute;
  width: 190px;
  height: 190px;
  left: 541px;
  top: 131px;

  background: #938585;
  border-radius: 20px;
}
.rooms .r6 {
  position: absolute;
  width: 190px;
  height: 190px;
  left: 541px;
  top: 330px;

  background: #938585;
  border-radius: 20px;
}

.rooms .r7 {
  position: absolute;
  width: 190px;
  height: 190px;
  left: 791px;
  top: 131px;

  background: #938585;
  border-radius: 20px;
}

.rooms .r8 {
  position: absolute;
  width: 190px;
  height: 190px;
  left: 791px;
  top: 330px;

  background: #938585;
  border-radius: 20px;
}

/* < */

.buttons .prev {
  position: absolute;
  width: 43px;
  height: 43px;
  left: 390px;
  top: 540px;

  background: rgba(32, 52, 81, 0.53);
  border-radius: 5px;
}

.prev {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;

  color: #ffffff;
}

/* 1 */

.buttons .one {
  position: absolute;
  width: 43px;
  height: 43px;
  left: 440px;
  top: 540px;

  background: rgba(32, 52, 81, 0.53);
  border-radius: 5px;
}

.one {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;

  color: #ffffff;
}

/* 2 */

.buttons .two {
  position: absolute;
  width: 43px;
  height: 43px;
  left: 490px;
  top: 540px;

  background: rgba(32, 52, 81, 0.53);
  border-radius: 5px;
}

.two {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;

  color: #ffffff;
}

/* 3 */

.buttons .three {
  position: absolute;
  width: 43px;
  height: 43px;
  left: 540px;
  top: 540px;

  background: rgba(32, 52, 81, 0.53);
  border-radius: 5px;
}

.three {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
}

/* > */

.buttons .next {
  position: absolute;
  width: 43px;
  height: 43px;
  left: 590px;
  top: 540px;

  background: rgba(32, 52, 81, 0.53);
  border-radius: 5px;
}

.next {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;

  color: #ffffff;
}

/* Logo 1 */

.img1 {
  position: absolute;
  width: 206px;
  height: 85px;
  left: 24px;
  top: 725px;

  border-radius: 10px;
}
/* Logo 2 */

.img2 {
  position: absolute;
  width: 118px;
  height: 125px;
  left: 240px;
  top: 700px;

  border-radius: 10px;
}

