/* !Bienvenido al Juego de la Torre! */
h1 {
  position: absolute;
  width: 580px;
  height: 168px;
  left: 552px;
  top: 299px;

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 84px;

  color: #ffffff;
}
